.business-container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding-left: 12%;
  padding-right: 10%;
}

.business-container .header {
  color: #fff;
  font-size: 35px;
  font-family: "HeroNewSemiBold";
}

.action-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
  width: 800px;
  height: 450px;
  background: linear-gradient(45deg, #202020, #3e3e3e);
  border-radius: 30px;
}

.action-container .action-header {
  color: #fff;
  font-family: "HeroNewRegular";
  font-size: 22px;
  text-align: center;
  width: 80%;
}

.action-container input {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  height: 18px;
  width: 400px;
  padding: 16px;
  border-style: none;
  border-radius: 8px;
  font-size: 16px;
}

.action-container input:focus {
  outline-width: 0;
}

.action-container .button {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 200px;
  height: 30px;
  border-radius: 25px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  color: rgba(0, 0, 0, 1);
  transform: translateY(-60px);
}

.private-key-modal {
  color: #fff;
}

.private-key-modal #highlight {
  color: #f24b4b;
  font-family: "HeroNewBold";
}

.private-key-container {
  background-color: #292929;
  overflow-wrap: break-word;
  text-align: center;
  height: 45px;
  border-radius: 10px;
  padding: 15px;
  margin-top: 30px;
}

.private-key-modal .button {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 200px;
  height: 30px;
  border-radius: 25px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  background-color: white;
  color: black;
  font-family: "HeroNewSemiBold";
  margin: 0 auto;
  margin-top: 40px;
}

.business-container .dashboard {
  display: flex;
  flex-direction: row;
  align-self: center;
  margin-top: 30px;
  width: 1000px;
  height: 720px;
  background: linear-gradient(45deg, #202020, #3e3e3e);
  border-radius: 30px;
  padding-top: 30px;
  padding-left: 100px;
}

.business-container .dashboard .left .header {
  font-size: 28px;
  color: #e1e1e1;
}

.business-container .dashboard .left .receivable-container {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  margin-top: 30px;
}

.business-container .dashboard .left .receivable-container .horizontal-line {
  height: 1px;
  width: 500px;
  background-color: #8a8a8a;
  margin: 20px 0;
}

.business-container .dashboard .left .receivable-container .header {
  font-size: 23px;
  font-family: "HeroNewSemiBold";
  margin-bottom: 20px;
}

.business-container .dashboard .left .receivable-container .out {
  min-height: 200px;
  margin-bottom: 20px;
}

.business-container .dashboard .left .receivable-container .receivables-box {
  display: inline-block;
  padding: 5px 5px;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.business-container
  .dashboard
  .left
  .receivable-container
  .receivables-wrapper {
  display: inline-block;
  max-height: 175px;
  border-radius: 20px;
  overflow-y: scroll;
  padding: 17px 40px;
}

.business-container
  .dashboard
  .left
  .receivable-container
  .receivables-wrapper::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0);
  width: 6px;
}
.business-container
  .dashboard
  .left
  .receivable-container
  .receivables-wrapper::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 16px;
  width: 5px;
}

.business-container .dashboard .right {
  display: flex;
  align-items: center;
  padding-left: 30px;
  padding-right: 50px;
  flex-grow: 1;
}

.business-container .dashboard .right .vertical-line {
  height: 500px;
  width: 1px;
  background-color: #8a8a8a;
}

.business-container .dashboard .right .data-container {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  height: 600px;
  width: 100%;
  margin-top: 30px;
  justify-content: space-between;
}

.business-container .dashboard .right .data-container .entry {
  display: flex;
  flex-direction: column;
  height: 120px;
  position: relative;
}

.business-container .dashboard .right .data-container .entry .sub-header {
  color: #e1e1e1;
  opacity: 0.6;
  font-family: "HeroNewMedium";
  font-size: 14px;
}

.business-container .dashboard .right .data-container .entry .info {
  color: #fff;
  font-family: "HeroNewLight";
  font-size: 27px;

  margin: auto 0;
}

.business-container .dashboard .right .data-container .entry .info-wrapper {
  display: flex;
  margin: auto 0;
  align-items: center;
}

.business-container .dashboard .right .data-container .entry .logo {
  width: 20px;
  height: 20px;
  filter: invert(100%);
  margin-right: 5px;
}
.business-container .dashboard .right .data-container .button {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 200px;
  height: 30px;
  border-radius: 25px;
  text-align: center;
  padding: 10px;
  background-color: #f24b4b;
  color: white;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  cursor: pointer;
}

.receivable-modal {
  display: flex;
  flex-direction: column;
}

.receivable-modal .row-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
}

.receivable-modal #cancel {
  color: #fff;
  align-self: flex-end;
  font-size: 18px;
  cursor: pointer;
}

.receivable-modal .row .header {
  color: #e1e1e1;
  opacity: 0.6;
  font-family: "HeroNewMedium";
  font-size: 14px;
  margin-bottom: 5px;
}

.receivable-modal .row input {
  background-color: #2f2f2f;
  color: white;
  height: 18px;
  width: 400px;
  padding: 16px;
  border-style: none;
  border-radius: 8px;
  font-size: 16px;
}

.receivable-modal .row input:focus {
  outline-width: 0;
}

.receivable-modal .row .button {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 200px;
  height: 30px;
  border-radius: 25px;
  text-align: center;
  padding: 10px;
  background-color: #fff;
  width: 200px;
  margin: 0 auto;
  opacity: 1;
  cursor: pointer;
}

.receivable-modal .row .button.inactive {
  opacity: 0.5;
  cursor: default;
}

.dropdown-container {
  background: #2f2f2f;
  color: #fff;
  width: 432px;
  align-self: flex-start;
}
