.App {
  padding-top: 18%;
}

.App .main-content {
  display: flex;
  padding-left: 15%;
  padding-right: 15%;
}

.App .main-content .left {
  width: 60%;
}

.App .main-content .right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 30%;
}

.App .main-content .header {
  color: #f24b4b;
  font-family: "HeroNewBold";
  font-size: 53px;
  margin-bottom: 30px;
  margin-top: -12px;
}

.App .main-content .subheader {
  color: white;
  font-family: "HeroNewMedium";
  font-size: 15px;
}

.App .main-content .right .button {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 200px;
  height: 30px;
  border-radius: 25px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}

.App .main-content .right .button#wallet {
  background-color: #f24b4b;
  color: white;
  margin-bottom: 70px;
}

.App .main-content .right .button#signup {
  border: 2px white solid;
  color: white;
}

.App .main-content .right .button #small {
  margin-top: 2px;
  font-size: 10px;
  font-family: HeroNewLight;
}
