.receivable-component {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  height: 60px;
  color: #fff;
  background: #212121;
  border-radius: 10px;
  box-shadow: 7px 3px 17px -1px rgba(0, 0, 0, 0.75);
  margin-bottom: 30px;
}

.receivable-component .left {
  display: flex;
  flex-direction: column;
  width: 40%;
  align-items: flex-start;
  padding-left: 20px;
}

.receivable-component #name {
  font-family: "HeroNewMedium";
  /* margin-left: 30px; */
  font-size: 18px;
}

.receivable-component #date {
  font-family: "HeroNewLight";
  /* width: 20%; */
}

.receivable-component #amount {
  font-family: "HeroNewLight";
  /* width: 20%; */
}

.receivable-component #button {
  display: flex;
  width: 50px;
  height: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-family: "HeroNewSemiBold";
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
