body {
  margin: 0;
  background: #202020;
}

body:not([body]) {
  font-family: "HeroNewRegular", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "HeroNewBold";
  src: local("HeroNewBold"),
    url("./fonts/Hero-New/Hero New Bold.otf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "HeroNewRegular";
  src: local("HeroNewRegular"), url("./fonts/Hero-New/Hero New Regular.otf");
}

@font-face {
  font-family: "HeroNewMedium";
  src: local("HeroNewMedium"), url("./fonts/Hero-New/Hero New Medium.otf");
}

@font-face {
  font-family: "HeroNewLight";
  src: local("HeroNewLight"), url("./fonts/Hero-New/Hero New Light.otf");
}
